.header {
    padding: 3%;
    height: 40vh;
    background-color: #016B85;
    color: #B5E0E6;
    border-radius: 0px;
    border-top: #B5E0E6 5px solid;
    border-bottom: #B5E0E6 5px solid;
    // background-image: linear-gradient(180deg, #96CDD4, #006C83);
}

.button {
    text-align: right;
}