<div class="header jumbotron">
    <h1 class="display-4">
        <ng-content select="[title]"></ng-content>
    </h1>
    <span class="lead">
        <ng-content select="[description]"></ng-content>
    </span>

    <div class="button">
        <a class="btn btn-light">
            <ng-content select="[function]"></ng-content>
        </a>
    </div>
    <p class="lead">
        <ng-content select="[scroll]"></ng-content>
    </p>



</div>