form {
    margin-top: 7%;
    margin-bottom: 5%;
}

.col-sm-8 {
    text-align: center;
}

.btn {
    background-color: #016B85;
    margin: 3%;
}

.submit-button {
    width: 64%;
    margin-left: 16%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #016B85;
    color: #B5E0E6;
    text-align: center;
    border: #B5E0E6 5px solid;
}

.navigation {
    color: #B5E0E6;
}

.message {
    padding: 2%;
}