<app-header class="header">
    <span title>Complaints</span>
    <span description>Submit Your issues here!</span>
    <span function [routerLink]="['/home']">Home</span>
</app-header>
<div>
    <div class="container">
        <form [formGroup]="issueForm">
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label">Issue Title</label>
                <div class="col-sm-8">
                    <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-8">
                    <textarea formControlName="description" type="text" class="form-control" id="description" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="contact" class="col-sm-2 col-form-label">Contact</label>
                <div class="col-sm-8">
                    <input formControlName="contact" type="contact" class="form-control" id="inputPassword" placeholder="Contact Info">
                </div>
            </div>
            <div class="form-group row">
                <label for="deadline" class="col-sm-2 col-form-label">Deadline</label>
                <div class="col-sm-8">
                    <input formControlName="deadline" type="date" class="form-control" id="deadline" placeholder="Deadline">

                </div>
                <div class="submit-button">
                    <button class="btn btn-primary btn-block" (click)="addIssue()" data-toggle="modal" data-target="#submitModal">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <form>
                        <div class="row form-group justify-content-center">
                            <div class="col-sm-8 ">
                                <h3> {{ 'Thanks for sharing your thoughts!' | titlecase }}</h3>
                                <p> {{ 'We Will Contact You Shortly!' | titlecase }}</p>
                                <a [routerLink]="['/home']" type="submit" class="btn btn-primary btn-block" data-dismiss="modal">Back to home page</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Log in as Administrator</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form onsubmit="login()">
                        <div class="row form-group justify-content-center">
                            <div class="col-sm-8">
                                <label>Username</label>
                                <div class="input-group">
                                    <input id="name" type="text" class="form-control" placeholder="Enter Username" formControlName="name" />
                                </div>
                                <label>Password</label>
                                <div class="input-group">
                                    <input id="password" type="password" class="form-control" formControlName="password" placeholder="Enter Password" [type]="fieldTextType ? 'text' : 'password'" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i
                                            class="fa"
                                            [ngClass]="{
                                              'fa-eye-slash': fieldTextType,
                                              'fa-eye': !fieldTextType
                                            }"
                                            (click)="toggleFieldTextType()"
                                          ></i>
                                     </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button autoFocus (click)="login()" type="submit" class="btn btn-primary btn-block" data-dismiss="modal">Go!
                    </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-flex">
    <div class="footer">
        <h2 class="message">Always at Your Service!</h2>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h5>Contact us!</h5>
                <p>64623727</p>
            </div>
            <div class="col-sm-4">
                <h5>Administrator</h5>
                <a class="navigation" data-toggle="modal" data-target="#loginModal" href="">Log in!</a>
            </div>
            <div class="col-sm-4">
                <h5>Navigation</h5>
                <a class="navigation" [routerLink]="['/home']">Home</a> </div>
        </div>
    </div>
</div>