<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" [routerLink]="['/home']">Customer Support</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/issues-list']" [routerLinkActive]="'active'">Submitted Issues<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/resolved-issues']" [routerLinkActive]="'active'">Resolved Issues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/users-list']" [routerLinkActive]="'active'">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/issues-form']">Submit View</a>
            </li>
        </ul>
    </div>
</nav>