<app-navbar></app-navbar>
<div>
    <div class="container">
        <h3 class="text-center">Registered Users</h3>
        <div class="row justify-content-center">
            <div class="col-sm-10 ">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>name</th>
                            <th>username</th>
                            <th>email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row justify-content-left image">
            <img src="assets/icons/balance.png" alt="balance" class="image">
        </div>
    </div>
</div>