    // * {
    //     border: 1px solid red;
    // }
    h3 {
        color: #016B85;
        margin-top: 5%;
    }
    
    .table {
        margin-top: 5%;
    }
    
    thead>tr>th {
        color: #016B85;
        background: #F5D695;
    }
    
    tbody tr:nth-child(even) td {
        background: #F5D695;
        color: #016B85;
    }
    
    tbody tr:nth-child(odd) td {
        color: #016B85;
    }
    
    .image {
        width: 45%;
        margin-top: 5%;
        margin-bottom: 5%;
    }