/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-family: "Roboto" sans-serif;
}

@font-face {
    font-family: "Roboto";
    src: local("RobotoSlab-Bold"), url(./assets/fonts/RobotoSlab-Bold.ttf) format("truetype");
}

html,
body,
h3,
h4,
h5 {
    margin: 0;
    font-family: "Roboto" sans-serif;
}

.row {
    margin-left: 0;
    margin-right: 0;
}