.issues-message {
    margin-top: 25%;
    margin-left: 25%;
}

.card {
    margin: 5%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: 1.2s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    background-color: #B5E0E6;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.pastDeadline {
    border: solid red 2px;
    background-color: rgba(255, 0, 0, 0.2);
}

.panel-body {
    padding: 5%;
}

.btn {
    margin-top: 10%;
}


/*sticky notes*/

.col-md-4 {
    margin-top: 3%;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

ul,
li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 15em;
    width: 15em;
    padding: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    transform: rotate(-6deg);
    transition: 1.2s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

ul li:nth-child(even) a {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #F5D695;
}

ul li:nth-child(3n) a {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}

ul li {
    margin: 1em;
}

ul li a:hover,
ul li a:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

[contenteditable] {
    outline: 0px solid transparent;
}