<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="bs-example">
                <div *ngIf="!resolvedIssues.length" class="issues-message">
                    <h3>No Resolved Issues to Show!</h3>
                </div>
                <div [attr.id]="'accordion_' + i" *ngFor="let resolved of resolvedIssues; let i = index;">
                    <div class="card" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">
                        <div class="card-body">
                            <h5>{{ resolved.title }}
                            </h5>
                            <span>{{ resolved.deadline }}</span>
                        </div>
                        <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {{ resolved.description }}
                                <span><button type="button" class="close btn btn-lg btn-block" aria-label="remove" (click)="removeResolvedIssue(resolved.id)">Delete Permanently?
                                </button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <ul>
                <li>
                    <a>
                        <h2 contenteditable>Notes</h2>
                        <hr>
                        <p contenteditable (input)="onNameChange($event.target.innerHTML)"></p>
                    </a>
                </li>
                <li>
                    <a>
                        <h2 contenteditable>Notes</h2>
                        <hr>
                        <p contenteditable (input)="onNameChange($event.target.innerHTML)"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>