<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="bs-example">
                <div *ngIf="!issues.length" class="issues-message">
                    <h3>No Issues to Show!</h3>
                </div>
                <div [attr.id]="'accordion_' + i" *ngFor="let issue of issues; let i = index;">
                    <div class="card" [ngClass]="deadlineInfo(issue.deadline)" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">
                        <div class="card-body">
                            <h5>{{ issue.title }}
                            </h5>
                            <span>Deadline: {{ issue.deadline }}</span>
                        </div>
                        <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {{ issue.description }}
                                <span><button type="button" class="close btn btn-lg btn-block " aria-label="remove" (click)="removeIssue(issue.id)" >Resolved
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <mat-accordion class="example-headers-align " *ngFor="let issue of issues">
                <mat-expansion-panel class="card" (opened)="openState = true" (closed)="openState = false" [ngClass]="deadlineInfo(issue.deadline)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h5>{{ issue.title }}</h5>

                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{ issue.deadline }}</p>
                    <p>{{ issue.description }}</p>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="removeIssue(issue.id)">Remove</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion> -->
        </div>
        <div class="col-md-4">
            <ul>
                <li>
                    <a>
                        <h2 contenteditable>Notes</h2>
                        <hr>
                        <p contenteditable (input)="onNameChange($event.target.innerHTML)"></p>
                    </a>
                </li>
                <li>
                    <a>
                        <h2 contenteditable (input)="onNameChange($event.target.innerHTML)">Notes</h2>
                        <hr>
                        <p contenteditable (input)="onNameChange($event.target.innerHTML)"></p>
                    </a>
                </li>
            </ul>
            <span><h4 class="resolved">Resolved Issues: {{ counter }}</h4></span>
        </div>
    </div>
</div>