<img src="./assets/images/support.png" alt="image" class="header-image">
<app-header>
    <span title>Customer Support</span>
    <span description>Here to solve your technical issues!</span>
    <span scroll class="scroll">Scroll Down For More!</span>
    <span function [routerLink]="['/issues-form']" class="issue-shortcut">Submit Issue!</span>
</app-header>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Log in as Administrator</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form onsubmit="login()">
                        <div class="row form-group justify-content-center">
                            <div class="col-sm-8">
                                <label>Username</label>
                                <div class="input-group">
                                    <input id="name" type="text" class="form-control" placeholder="Enter Username" formControlName="name" />
                                </div>
                                <label>Password</label>
                                <div class="input-group">
                                    <input id="password" type="password" class="form-control" formControlName="password" placeholder="Enter Password" [type]="fieldTextType ? 'text' : 'password'" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i
                                            class="fa"
                                            [ngClass]="{
                                              'fa-eye-slash': fieldTextType,
                                              'fa-eye': !fieldTextType
                                            }"
                                            (click)="toggleFieldTextType()"
                                          ></i>
                                     </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button autoFocus (click)="login()" type="submit" class="btn btn-primary btn-block" data-dismiss="modal">Go!
                    </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid main-section">
    <div class="container">
        <div class="row flex-wrap align-items-center">
            <div class="col-sm">
                <a href="http://www.google.com" target="_blank"> <img src="assets/icons/location.png" alt="location" class="link-image img-responsive center-block d-block mx-auto upper">
                </a>
            </div>
            <div class="col-sm-6 ">
                <div class="text">
                    <span class="material-icons up">expand_less</span>
                    <h3>Locations all around the globe! </h3>
                    <span><p><strong> Find services near you!</strong>
                    </p>
                    <span class="material-icons back">arrow_back_ios</span>
                    <span class="material-icons back">arrow_back_ios</span>
                    <p class="text-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolor debitis repudiandae quam, nihil ullam saepe corrupti magnam, totam libero soluta, vel praesentium facere ipsa labore iste aliquam.</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="row flex-wrap align-items-center">
            <div class="col-sm-6">
                <div class="text">
                    <h3>Experiencing technical issues? </h3>
                    <p><strong>We will solve the puzzle for you!</strong>
                    </p>
                    <span class="material-icons forward">arrow_forward_ios</span>
                    <span class="material-icons forward">arrow_forward_ios</span>
                    <p class="text-body">Submit the description of your issue through the issues/complaints link and we will contact you soon! Cum dolor debitis repudiandae quam, nihil ullam saepe corrupti magnam, totam libero soluta, vel praesentium facere ipsa.
                    </p>
                    <span class="material-icons down">expand_more</span>
                </div>

            </div>
            <div class="col-sm-6 ">
                <a [routerLink]="['/issues-form']"> <img src="assets/icons/puzzleLg.png" alt="location" class="link-image img-responsive center-block d-block mx-auto">
                </a>
            </div>
        </div>
        <div class="row flex-wrap align-items-center">
            <div class="col-sm-6">
                <a href="http://www.google.com" target="_blank"> <img src="assets/icons/work.png" alt="location" class="link-image img-responsive center-block d-block mx-auto upper">
                </a>
            </div>
            <div class="col-sm-6 ">
                <div class="text">
                    <span class="material-icons up">expand_less</span>
                    <h3>Contact Us at Any Time!</h3>
                    <p><strong>We are working around the clock!</strong>
                    </p>
                    <span class="material-icons back">arrow_back_ios</span>
                    <span class="material-icons back">arrow_back_ios</span>
                    <p class="text-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolor debitis repudiandae quam, nihil ullam saepe corrupti magnam, totam libero soluta, vel praesentium facere ipsa.</p>
                </div>

            </div>
        </div>
        <div class="row flex-wrap align-items-center">
            <div class="col-sm-6">
                <div class="text">
                    <span class="text-header"><h3>Help us improve our services!</h3>
                    <p><strong>We are open to new ideas and suggestions!</strong>
                    </p>
                    <span class="material-icons forward">arrow_forward_ios</span>
                    <span class="material-icons forward">arrow_forward_ios</span></span>
                    <span class="text-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolor debitis repudiandae quam, nihil ullam saepe corrupti magnam, totam libero soluta, vel praesentium facere ipsa.</p>
                        <span class="material-icons down">expand_more</span>
                    </span>

                </div>
            </div>
            <div class="col-sm-6">
                <a href="http://www.google.com" target="_blank"> <img src="assets/icons/ideas.png" alt="location" class="link-image img-responsive center-block d-block mx-auto">
                </a>
            </div>
        </div>
    </div>

</div>
<div class="container-flex">
    <div class="footer">
        <h2 class="message">Always at Your Service!</h2>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h5>Contact us!</h5>
                <p>64623727</p>
            </div>
            <div class="col-sm-4">
                <h5>Administrator</h5>
                <a class="navigation" data-toggle="modal" data-target="#loginModal" href="">Log in!</a>
            </div>
            <div class="col-sm-4">
                <h5>Navigation</h5>
                <a class="navigation" [routerLink]="['/home']">Home</a> </div>
        </div>
    </div>
</div>