// * {
//     border: 1px solid red;
// }
h3,
h4,
h5 {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.header-image {
    width: 100%;
    height: 60vh;
}

.scroll-icon {
    font-size: 36px;
}

.issue-shortcut {
    font-size: 24px;
    color: #016B85;
}

.main-section {
    margin-bottom: 3%;
}

.row {
    padding: 3%;
}

.material-icons.up,
.material-icons.down {
    display: none;
}

.link-image {
    width: 40%;
    transition: 1.2s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.link-image:hover,
.link-image:focus {
    transform: scale(1.2);
    position: relative;
    z-index: 5;
}

.row .col-sm-6:nth-child(odd) .text {
    border: 4px solid #016B85;
    border-radius: 80px 10px;
    padding: 8%;
    color: #016B85;
    background-color: #B5E0E6;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 8px 16px rgba(0, 0, 0, .08);
    text-align: right;
}

.text-body {
    text-align: justify;
    color: #016B85 !important;
}

.row .col-sm-6:nth-child(even) .text {
    border: 4px solid #FFB746;
    border-radius: 10px 80px;
    padding: 8%;
    color: #016B85;
    background-color: #F5D695;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .12), 0 8px 16px rgba(0, 0, 0, .08);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #016B85;
    color: #B5E0E6;
    text-align: center;
    border: #B5E0E6 5px solid;
}

.navigation {
    color: #B5E0E6;
}

.message {
    padding: 2%;
}

.btn {
    background-color: #016B85;
    margin: 3%;
}

// .modal-content {
//     border: 4px solid #016B85;
//     background-color: #B5E0E6;
//     border-radius: 10px 80px;
// }

/* mobile */

@media only screen and (max-width: 1040px) {
    .header-image {
        display: none;
    }
    .scroll {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .link-image {
        width: 80%;
        margin: 20%;
    }
    .issue-shortcut {
        font-size: 14px;
    }
    .material-icons.forward,
    .material-icons.back {
        display: none;
    }
    .material-icons.up,
    .material-icons.down {
        display: block;
        text-align: center;
    }
    .upper {
        margin-top: 4%;
    }
    .text {
        padding: 25%;
    }
}